{% load i18n %}
{% load templatetags %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Sylli Studio">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

    <title>{% trans 'PAGE_TITLE_MATERIAL_TAGS' %}</title>

    <!--Core CSS -->
    <link href="{% static 'bs3/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-reset.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome-4.4.0/css/font-awesome.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'syjscss/bootstrap-extended.css' %}" rel="stylesheet">

    <link href="{% static 'css/material_tags.less' %}" rel="stylesheet/less" type="text/css">

    <script type="text/javascript">
        var STATIC = '{% static '' %}';
    </script>
</head>
<body>

<!--Core js-->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'bs3/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/moment-with-locales.js' %}"></script>
<script src="{% static 'js/moment-timezone-with-data.js' %}"></script>
<script src="{% static 'js/moment-range.js' %}"></script>
<script src="{% static 'syjscss/jquery.blockUI.min.js' %}"></script>
<script src="{% static 'js/JsBarcode.all.min.js' %}"></script>
<script src="{% static 'syjscss/code.js' %}"></script>

<!-- i18n -->
<script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>

<!--common script init for all pages-->
<script src="{% static 'js/less.min.js' %}"></script>

<!-- custom components -->
<script src="{% static 'js/custom.js' %}"></script>

<!-- ajax script -->
<script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/api.js' %}"></script>

<script type="text/javascript">
var tasks = {{ tasks|safe }};
var pos = [];
var MAX_LINES = 44;
var remainingLines = 0;

(function($) {
    $(document).ready(function() {
        var data = localStorage.getItem('material-tags-to-print');
        if(common.isEmpty(data)) {
            return;
        }

        pos = JSON.parse(data);

        renderData();

        window.print();
    });

    function renderData() {
        console.log('render', pos);

        for(var i = 0; i < pos.length; i++) {
            var po = pos[i];
            addNewPage(po);
        }
    }

    function addNewPage(po) {
        var p = '<page size="29mm">\
            <div class="material-tag">\
                <div class="container-fluid">\
                    <div class="row">\
                        <div class="col-xs-12">\
                            <img class="barcode" width="100%" height="57" />\
                        </div>\
                    </div>\
                    <div class="row">\
                        <div class="col-xs-7">\
                            <h1 class="doc_no"></h1>\
                            <p class="subline"></p>\
                        </div>\
                        <div class="col-xs-5 text-right">\
                            <p class="date"></p>\
                        </div>\
                    </div>\
                <div>\
            <div>\
        </page>';

        $('body').append(p);

        var $page = $('page').last();

        $page.find('.doc_no').html(po.po_doc_no);
        $page.find('.barcode').JsBarcode(po.doc_no, { displayValue : true, format : 'CODE128' });

        $page.find('.subline').html(po.parent_task_code + ' ' + Front.getTaskLabel('task-' + po.parent_task_code));

        var date = new Date();
        $page.find('.date').html('{% trans 'T_PRINTED' %}: ' + moment(date).format('YYYY-MM-DD') + '<br/>' + moment(date).format('HH:mm'));
    }
})(jQuery);
</script>
</body>
</html>