{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

    <title>{{ page_title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bs3/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-reset.css' %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static 'font-awesome-4.4.0/css/font-awesome.css' %}" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
</head>

<body class="lock-screen" onload="startTime()">

<div class="lock-wrapper">

    <div id="time"></div>


    <div class="lock-box text-center">
        <form role="form" class="form-inline" method="POST">
            {% csrf_token %}
            <div class="lock-name">
                <div class="form-group">
                    <input type="text" name="username" placeholder="{% trans 'USER_FIELD_USERNAME' %}"
                           class="form-control lock-input" />
                </div>
            </div>
            <img src="{% static 'images/lock_thumb.png' %}" alt="lock avatar"/>

            <div class="lock-pwd">
                <div class="form-group">
                    <input type="password" name="password" placeholder="{% trans 'USER_FIELD_PASSWORD' %}"
                           id="exampleInputPassword2" class="form-control lock-input" />
                    <button class="btn btn-lock" type="submit">
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </form>
        <div style="padding-top:190px;">
            {% for error in form.non_field_errors %}
                <p class="text-center"><span class="label label-danger" style="font-size:1.1em;">{{ error }}</span></p>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        // add a zero in front of numbers<10
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('time').innerHTML = h + ":" + m + ":" + s;
        t = setTimeout(function () {
            startTime()
        }, 500);
    }

    function checkTime(i) {
        if (i < 10) {
            i = "0" + i;
        }
        return i;
    }
</script>
</body>
</html>
